<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>주문</title>
  <!-- 부트스트랩 CSS -->
  <th:block th:replace="fragments/head :: head"></th:block>
</head>
<body>
<th:block th:replace="fragments/body :: body"></th:block>

<div class="container mt-4">
  <h2>회원 및 상품 선택 폼</h2>
  <form action="/order" method="post" id="inputForm" th:object="${orderDto}">
    <div class="form-group">
      <label for="selectedMember">회원 선택:</label>
      <select class="form-control" id="selectedMember" name="selectedMember" th:field="*{memberId}" >
        <option th:each="member : *{memberList}" th:value="${member.id}" th:text="${member.name}"></option>
      </select>
    </div>

    <div class="form-group">
      <label>상품 선택:</label><br>
      <th:block th:each="product : *{itemList}">
        <label>
          <input type="checkbox" name="selectedProductIds" th:value="${product.id}" th:field="*{itemIds}">
          <span th:text="${product.name}"></span>
        </label>
        <br>
      </th:block>
    </div>



    <div class="form-group">
      <label for="count">수량</label>
      <input type="number" class="form-control" id="count" name="count" th:field="*{count}" required >
    </div>

    <button type="submit" class="btn btn-success">주문</button>
  </form>
</div>


<footer>
  <th:block th:replace="fragments/footer :: footer"></th:block>
</footer>

<!-- 부트스트랩 JS 및 jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
